.bg-dark {
  background: var(--color-dark);
}

.bg-dark-shade {
  background: var(--color-dark-shade);
}

.bg-dark-glare {
  background: var(--color-dark-glare);
}

.bg-light {
  background: var(--color-light);
}

.bg-light-shade {
  background: var(--color-light-shade);
}

.bg-light-glare {
  background: var(--color-light-glare);
}

.bg-primary {
  background: var(--color-primary);
}

.bg-primary-shade {
  background: var(--color-primary-shade);
}

.bg-primary-glare {
  background: var(--color-primary-glare);
}

.bg-secondary {
  background: var(--color-secondary);
}

.bg-secondary-shade {
  background: var(--color-secondary-shade);
}

.bg-secondary-glare {
  background: var(--color-secondary-glare);
}

.bg-tertiary {
  background: var(--color-tertiary);
}

.bg-tertiary-shade {
  background: var(--color-tertiary-shade);
}

.bg-tertiary-glare {
  background: var(--color-tertiary-glare);
}

.bg-quaternary {
  background: var(--color-quaternary);
}

.bg-quaternary-shade {
  background: var(--color-quaternary-shade);
}

.bg-quaternary-glare {
  background: var(--color-quaternary-glare);
}

.bg-quinary {
  background: var(--color-quinary);
}

.bg-quinary-shade {
  background: var(--color-quinary-shade);
}

.bg-quinary-glare {
  background: var(--color-quinary-glare);
}
