.color-dark {
  color: var(--color-dark);
}

.color-dark-shade {
  color: var(--color-dark-shade);
}

.color-dark-glare {
  color: var(--color-dark-glare);
}

.color-light {
  color: var(--color-light);
}

.color-light-shade {
  color: var(--color-light-shade);
}

.color-light-glare {
  color: var(--color-light-glare);
}

.color-primary {
  color: var(--color-primary);
}

.color-primary-shade {
  color: var(--color-primary-shade);
}

.color-primary-glare {
  color: var(--color-primary-glare);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-secondary-shade {
  color: var(--color-secondary-shade);
}

.color-secondary-glare {
  color: var(--color-secondary-glare);
}

.color-tertiary {
  color: var(--color-tertiary);
}

.color-tertiary-shade {
  color: var(--color-tertiary-shade);
}

.color-tertiary-glare {
  color: var(--color-tertiary-glare);
}

.color-quaternary {
  color: var(--color-quaternary);
}

.color-quaternary-shade {
  color: var(--color-quaternary-shade);
}

.color-quaternary-glare {
  color: var(--color-quaternary-glare);
}

.color-quinary {
  color: var(--color-quinary);
}

.color-quinary-shade {
  color: var(--color-quinary-shade);
}

.color-quinary-glare {
  color: var(--color-quinary-glare);
}
