.flow-space-300 {
  --flow-space: 0.75rem;
}

.flow-space-400 {
  --flow-space: 1rem;
}

.flow-space-500 {
  --flow-space: 1.33rem;
}

.flow-space-600 {
  --flow-space: 1.77rem;
}

.flow-space-700 {
  --flow-space: 2.36rem;
}

.flow-space-800 {
  --flow-space: 3.15rem;
}

.flow-space-900 {
  --flow-space: 4.2rem;
}

.flow-space-major {
  --flow-space: 5.6rem;
}

@media screen and (min-width: 37em) {
  .md\:flow-space-300 {
    --flow-space: 0.75rem;
  }

  .md\:flow-space-400 {
    --flow-space: 1rem;
  }

  .md\:flow-space-500 {
    --flow-space: 1.33rem;
  }

  .md\:flow-space-600 {
    --flow-space: 1.77rem;
  }

  .md\:flow-space-700 {
    --flow-space: 2.36rem;
  }

  .md\:flow-space-800 {
    --flow-space: 3.15rem;
  }

  .md\:flow-space-900 {
    --flow-space: 4.2rem;
  }

  .md\:flow-space-major {
    --flow-space: 5.6rem;
  }
}

@media screen and (min-width: 62em) {
  .lg\:flow-space-300 {
    --flow-space: 0.75rem;
  }

  .lg\:flow-space-400 {
    --flow-space: 1rem;
  }

  .lg\:flow-space-500 {
    --flow-space: 1.33rem;
  }

  .lg\:flow-space-600 {
    --flow-space: 1.77rem;
  }

  .lg\:flow-space-700 {
    --flow-space: 2.36rem;
  }

  .lg\:flow-space-800 {
    --flow-space: 3.15rem;
  }

  .lg\:flow-space-900 {
    --flow-space: 4.2rem;
  }

  .lg\:flow-space-major {
    --flow-space: 5.6rem;
  }
}
