.gap-top-300 {
  margin-top: 0.75rem;
}

.gap-top-400 {
  margin-top: 1rem;
}

.gap-top-500 {
  margin-top: 1.33rem;
}

.gap-top-600 {
  margin-top: 1.77rem;
}

.gap-top-700 {
  margin-top: 2.36rem;
}

.gap-top-800 {
  margin-top: 3.15rem;
}

.gap-top-900 {
  margin-top: 4.2rem;
}

.gap-top-major {
  margin-top: 5.6rem;
}

@media screen and (min-width: 37em) {
  .md\:gap-top-300 {
    margin-top: 0.75rem;
  }

  .md\:gap-top-400 {
    margin-top: 1rem;
  }

  .md\:gap-top-500 {
    margin-top: 1.33rem;
  }

  .md\:gap-top-600 {
    margin-top: 1.77rem;
  }

  .md\:gap-top-700 {
    margin-top: 2.36rem;
  }

  .md\:gap-top-800 {
    margin-top: 3.15rem;
  }

  .md\:gap-top-900 {
    margin-top: 4.2rem;
  }

  .md\:gap-top-major {
    margin-top: 5.6rem;
  }
}

@media screen and (min-width: 62em) {
  .lg\:gap-top-300 {
    margin-top: 0.75rem;
  }

  .lg\:gap-top-400 {
    margin-top: 1rem;
  }

  .lg\:gap-top-500 {
    margin-top: 1.33rem;
  }

  .lg\:gap-top-600 {
    margin-top: 1.77rem;
  }

  .lg\:gap-top-700 {
    margin-top: 2.36rem;
  }

  .lg\:gap-top-800 {
    margin-top: 3.15rem;
  }

  .lg\:gap-top-900 {
    margin-top: 4.2rem;
  }

  .lg\:gap-top-major {
    margin-top: 5.6rem;
  }
}
