.font-base {
  font-family: var(--font-body), Georgia, serif;
}

.font-sans {
  font-family: var(--font-heading), "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
}

.leading-loose {
  line-height: 1.7;
}

.leading-tight {
  line-height: 1.3;
}

.leading-flat {
  line-height: 1.1;
}

.measure-micro {
  max-width: 10ch;
}

.measure-compact {
  max-width: 30ch;
}

.measure-short {
  max-width: 40ch;
}

.measure-long {
  max-width: 65ch;
}

.text-300 {
  font-size: 0.75rem;
}

.text-400 {
  font-size: 1rem;
}

.text-500 {
  font-size: 1.33rem;
}

.text-600 {
  font-size: 1.77rem;
}

.text-700 {
  font-size: 2.36rem;
}

.text-800 {
  font-size: 3.15rem;
}

.text-900 {
  font-size: 4.2rem;
}

.text-major {
  font-size: 5.6rem;
}

.weight-normal {
  font-weight: 400;
}

.weight-bold {
  font-weight: 900;
}

@media screen and (min-width: 37em) {
  .md\:measure-micro {
    max-width: 10ch;
  }

  .md\:measure-compact {
    max-width: 30ch;
  }

  .md\:measure-short {
    max-width: 40ch;
  }

  .md\:measure-long {
    max-width: 65ch;
  }

  .md\:text-300 {
    font-size: 0.75rem;
  }

  .md\:text-400 {
    font-size: 1rem;
  }

  .md\:text-500 {
    font-size: 1.33rem;
  }

  .md\:text-600 {
    font-size: 1.77rem;
  }

  .md\:text-700 {
    font-size: 2.36rem;
  }

  .md\:text-800 {
    font-size: 3.15rem;
  }

  .md\:text-900 {
    font-size: 4.2rem;
  }

  .md\:text-major {
    font-size: 5.6rem;
  }
}

@media screen and (min-width: 62em) {
  .lg\:measure-micro {
    max-width: 10ch;
  }

  .lg\:measure-compact {
    max-width: 30ch;
  }

  .lg\:measure-short {
    max-width: 40ch;
  }

  .lg\:measure-long {
    max-width: 65ch;
  }

  .lg\:text-300 {
    font-size: 0.75rem;
  }

  .lg\:text-400 {
    font-size: 1rem;
  }

  .lg\:text-500 {
    font-size: 1.33rem;
  }

  .lg\:text-600 {
    font-size: 1.77rem;
  }

  .lg\:text-700 {
    font-size: 2.36rem;
  }

  .lg\:text-800 {
    font-size: 3.15rem;
  }

  .lg\:text-900 {
    font-size: 4.2rem;
  }

  .lg\:text-major {
    font-size: 5.6rem;
  }
}
