$color-dark: hsl(0, 0%, 0%);
$color-dark-shade: hsl(0, 0%, 0%);
$color-dark-glare: hsl(0, 0%, 38%);

$color-light: hsl(0, 0%, 100%);
$color-light-shade: hsl(28, 38%, 92%);
$color-light-glare: hsl(28, 38%, 97%);

$color-primary: hsl(221, 51%, 16%);
$color-primary-shade: hsl(351, 97%, 62%);
$color-primary-glare: hsl(221, 51%, 16%);

$color-secondary: hsl(172, 42%, 59%);
$color-secondary-shade: hsl(172, 51%, 43%);
$color-secondary-glare: hsl(28, 38%, 97%);

$color-tertiary: hsl(37, 98%, 75%);
$color-tertiary-shade: hsl(37, 100%, 73%);
$color-tertiary-glare: hsl(37, 100%, 83%);

$color-quaternary: hsl(37, 98%, 46%);
$color-quaternary-shade: hsl(37, 98%, 53%);
$color-quaternary-glare: hsl(37, 98%, 53%);

$color-quinary: hsl(352, 94%, 66%);
$color-quinary-shade: hsl(351, 97%, 62%);
$color-quinary-glare: hsl(351, 84%, 69%);

$font-heading: "Red Hat Display";
$font-body: "Literata";
$font-mono: "Ubuntu Mono";

// $color-dark: #38445b;
// $color-dark-shade: #263147;
// $color-dark-glare: #505c73;
// $color-light: #f9f4e3;
// $color-light-shade: #fff6d7;
// $color-light-glare: #fdfbf3;
// $color-primary: #513aa6;
// $color-primary-shade: #432e92;
// $color-primary-glare: #654ac9;
// $color-secondary: #6ac2b6;
// $color-secondary-shade: #35a495;
// $color-secondary-glare: #98e2d8;
// $color-tertiary: #ffd490;
// $color-tertiary-shade: #ffca77;
// $color-tertiary-glare: #ffdeaa;
// $color-quaternary: #ff7f5c;
// $color-quaternary-shade: #f96841;
// $color-quaternary-glare: #fe9476;
// $color-quinary: #fa576e;
// $color-quinary-shade: #fc3e59;
// $color-quinary-glare: #f26c7f;
