.button {
  display: inline-block;
  padding: 0.5rem 2rem;
  background: var(--color-quaternary-glare);
  color: var(--color-dark-shade);
  border: 2px solid;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-family: var(--font-heading), "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  font-weight: 900;
}

.button:hover {
  background: var(--color-quaternary) !important;
  color: var(--color-dark-shade) !important;
}

.button[data-variant="ghost"] {
  background: 0 0;
  color: var(--color-quaternary-glare);
}

.button,
.dot-shadow::before,
.frame::before,
.radius {
  border-radius: 0.25rem;
}
