.featured-work__item {
  display: block;
}

.featured-work__action {
  text-align: center;
}

@media (min-width: 37em) {
  .featured-work__inner {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 2.36rem 1.33rem;
  }

  @supports (display: grid) {
    .featured-work__inner > * {
      margin: 0;
    }
  }

  .featured-work__intro {
    grid-column: 1/13;
    align-self: end;
  }

  .featured-work__item:nth-child(odd) {
    grid-column: 1/8;
  }

  .featured-work__item:nth-child(even) {
    grid-column: 13/6;
  }
}

@media (min-width: 62em) {
  .featured-work {
    grid-template-columns: repeat(2, 1fr);
  }

  .featured-work__intro:nth-child(odd),
  .featured-work__item:nth-child(odd) {
    grid-column: 1/7;
  }

  .featured-work__intro:nth-child(even),
  .featured-work__item:nth-child(even) {
    grid-column: 13/7;
  }
}
