.gallery {
  display: flex;
  flex-direction: column;
}

.gallery__media {
  max-width: 40rem;
}

@media (min-width: 62em) {
  .gallery__item {
    display: flex;
    align-items: flex-end;
  }

  .gallery__item:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .gallery__item:nth-child(even),
  .gallery__item:nth-child(odd) {
    margin-inline-start: -2.36rem;
  }

  .gallery__item > * {
    margin-inline-start: 2.36rem;
  }
}
