.page-content {
  line-height: 1.7;
}

.page-content > * {
  max-width: 75ch;
}

.page-content blockquote {
  border-inline-start: 1rem solid var(--color-quinary);
  padding-inline-start: 1.77rem;
  padding-top: 1.33rem;
  padding-bottom: 1.33rem;
  font-style: italic;
}

.page-content h2 {
  font-size: 2.36rem;
}

.page-content h3 {
  font-size: 1.77rem;
}

.page-content ol,
.page-content ul {
  padding-inline-start: 3.15rem;
}

.page-content li + li {
  margin-top: 0.75rem;
}

.page-content h2,
.page-content h3 {
  --flow-space: 3.15rem;
}

.page-content h2 + *,
.page-content h3 + * {
  --flow-space: 0.75rem;
}
