@import "../base/variables";

.page-content table {
  width: 100%;
  border-spacing: 0;
  margin-top: 1.5rem;
}

.page-content table thead {
  background: #f7f7f7;
}

.page-content table th {
  font-weight: 500;
}

.page-content table {
	border: 1px double var(--color-dark-shade);
}

.page-content table th,
.page-content table td {
	text-align: left;
  padding: 0.5em 1em;
  border: 1px double var(--color-dark-shade);
}
