.tags-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.tags-list[class] {
  margin-inline-start: -1rem;
}

.tags-list > * {
  padding-top: 1rem;
  padding-inline-start: 1rem;
}
